.welcome {
    flex-grow: 1;
    color: #ffffff;
    text-align: center;
    font-size: 29px;
    font-weight: bold;
    font-family: "Lincoln Road", Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.welcome>img {
    width: 266px;
    height: auto;
}