/* Reset browser default */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.input-field {
    height: 60px;
    width: 100%;
    border-radius: 10px;
    padding: 0 20px;
    font-size: 15px;
    background-color: #f4fcff;
    border: none;
    margin: 8px auto;
    text-align: left;
    box-sizing: border-box;
}

.signup-button {
    height: 60px;
    width: 257px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    background-color: #CAA2F2;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 8px;
}

form>div>div {
    margin: auto;
    width: 80%;
    text-align: left;
}

label {
    color: #f4fcff;
    font-size: 15px;
    font-weight: bold;
}

@media screen and (max-height: 667px) {
    .box {
        height: calc(100vh - 250px);
    }
    .forgot-password {
        padding: 0px auto;
        margin-bottom: 0px;
    }

    .input-field {
        margin: auto;
    }
}